{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" type="text/css" href="{% static 'schedule_builder/style.css' %}" />
<script type="text/javascript" src="{% static 'schedule_builder/jquery-3.1.1.js' %}"></script>

</head>
<body>
<div class="page-wrap">
<header class="row">
    <div class="wrap">
    <div class="header-title col-lg-4">Sched<span class="u-span">U</span></div>
    <nav class="col-lg-8">
      <ul>
      </ul>
    </nav>
    </div>
</header>
{% block content %}{% endblock %}
</div>
<footer></footer>
</body>
</html>
