{% extends "schedule_builder/base.html" %}

{% block content %}
<div class="body-content">
  <div class="home">
    <div class="welcome row">
      <div class="fancy-background">
        <h1>Welcome!</h1>
        {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'home' %}" method="post" class="login">
        {% csrf_token %}
          <input type="text" name="user" class="input-field" id="userid" placeholder="username" />
          <input type="submit" value="Submit" class="button" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}