<html>
	<head>
		<img id = "image" src="./lena512.bmp"> 
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
		<script type="text/javascript">
			$(document).ready(function(){
				alert("Connection Started");
				var canvas = document.getElementById("myCanvas");
				var context = canvas.getContext("2d");
				context.drawImage(document.getElementById("image"), 640, 480);

				
				var formData = new FormData();
				var img = document.getElementById("image");
				var encodedImage = canvas.toDataURL("image/bmp");

				formData.append("imageBase64", encodedImage);

				var xhr = new XMLHttpRequest()
				xhr.open("POST", "http://192.168.1.101", true);
				xhr.send(formData);

				alert("Image request sent");
				/*
				xhr.addEventListener("load", function() {
    				var reader = new FileReader();
    				reader.readAsDataURL(xhr.response); 
    				reader.addEventListener("loadend", function() {             
        			console.log(reader.result);
        			console.log("Sent data to server");

    				});
    			});
				
				*/
			});
		</script>
	</head>
	<body >
		<canvas id = "myCanvas" width = "640" height="480"></canvas>
		

	</body>
</html>