{% extends "schedule_builder/base.html" %}
{% load static %}

<head>
</head>

{% block content %}
<div class="schedule">
<h1>"{{ schedule.term }} - {{ schedule.year }}"</h1> 


<label for="classSearchTextId">Class Name:</label>
<input type="text" id="classSearchTextId"/>
<br/>
<button id="addClassButton" type="button">Add Class</button>

<br/>
<ul id="classListId"/>
</div>
<script type="text/javascript"> 
window.CSRF_TOKEN = "{{ csrf_token }}"; 

username = "{{ schedule.user.name }}";
year = "{{ schedule.year }}";
term = "{{ schedule.term }}";
</script>
<script type="text/javascript" src="{% static 'schedule_builder/schedule.js' %}"></script>
{% endblock %}
