{% extends "schedule_builder/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'schedule_builder/user.js' %}"></script>
<div class="body-content">
  	<div class="user container">
    	<div class="col-lg-4">
      		<h1>Welcome {{ user.name }}!</h1>
    	</div>
    	<div class="schedule-row">
        	<div class="form-div" id="exist">
          		<h4>Existing Schedules</h4>
          		<form action="{% url 'user' user.name %}" method="post" class="existing-schedules">
         			{% csrf_token %}
					{% for schedule in user.schedule_set.all %}
    				<input class="button" type="submit" value="{{ schedule.term }} {{ schedule.year }}" name="{{ schedule.id }}" />
					{% endfor %}
		  		</form>
			</div>
			<div class="form-div">
        		<h4>Create New Schedule</h4>
        		<form action="{% url 'user' user.name %}" method="post">
          			{% csrf_token %}
          			<div id="create-new">
        	    		<div id="year">
          					<label for="yearid">Year</label>
    						<input type="number" id="yearid" name="year" min="2017" max="2018" value="2017"/>
    					</div>
    					<div id="semester">
    						<input type="radio" name="term" value="FALL" checked>FALL<br>
    						<input type="radio" name="term" value="WINTER">WINTER<br>
    						<input type="radio" name="term" value="SPRING">SPRING<br>
    						<input type="radio" name="term" value="SUMMER">SUMMER<br>
    					</div>
    					<input class="button" type="submit" value="Create New Schedule"/>
		    		</div>
        		</form>
    		</div>
  		</div>
	</div>
  <div class="user container">
    <table class="degree-requirements" border="0" cellpadding="0" cellspacing="0">
      <tr valign="top"><td colspan="6"><p class="charthead">Computer Engineering Requirements Chart 2015-16</p>
</td></tr><tr valign="top"><td align="center" class="chart-reverse" colspan="2">
</td></tr><tr valign="top"><td><p class="charttext"><span style="font-weight: bold;">Term 3</span></p>
<p class="charttext">CMPUT 274</p>
<p class="charttext">ECE 201</p>
<p class="charttext">ECE 202</p>
<p class="charttext">ECE 210</p>
<p class="charttext">MATH 201</p>
<p class="charttext">MATH 209</p>
<p class="charttext">English Elective</p>
</td><td><p class="charttext"><span style="font-weight: bold;">Term 4</span></p>
<p class="charttext">CMPUT 272</p>
<p class="charttext">CMPUT 275</p>
<p class="charttext">ECE 203</p>
<p class="charttext">ECE 212</p>
<p class="charttext">ECE 240</p>
<p class="charttext">PHYS 230</p>
</td><td><p class="charttext"><span style="font-weight: bold;">Term 5</span></p>
<p class="charttext">ECE 302</p>
<p class="charttext">ECE 311</p>
<p class="charttext">ECE 325</p>
<p class="charttext">ECE 340</p>
<p class="charttext">Group I Program Elective</p>
<p class="charttext">ENG M 310 (3-0-0) or 401 (3-0-0)</p>
</td><td><p class="charttext"><span style="font-weight: bold;">Term 6</span></p>
<p class="charttext">CMPUT 291</p>
<p class="charttext">CMPUT 379</p>
<p class="charttext">ECE 315</p>
<p class="charttext">ECE 487</p>
<p class="charttext">Complementary Studies Elective </p>
<p class="charttext">ITS Elective</p>
</td><td><p class="charttext"><span style="font-weight: bold;">Term 7</span></p>
<p class="charttext">CMPUT 301</p>
<p class="charttext">ECE 304</p>
<p class="charttext">ECE 342</p>
<p class="charttext">ECE 410</p>
<p class="charttext">Group II Program Elective</p>
<p class="charttext">Complementary Studies Elective</p>
</td><td><p class="charttext"><span style="font-weight: bold;">Term 8</span></p>
<p class="charttext">ECE 420</p>
<p class="charttext">ECE 492</p>
<p class="charttext">ENGG 400</p>
<p class="charttext">Group I Program Elective</p>
<p class="charttext">Group II Program Elective</p>
<p class="charttext">Group II Program Elective</p>
<p class="charttext">Group II Program Elective</p>
</td></tr>
    </table>

  </div>
</div>

{% endblock %}


