<h1>User: {{ user.name }}</h1>

<form action="{% url 'user' user.name %}" method="post">
{% csrf_token %}
{% for schedule in user.schedule_set.all %}
    <input type="submit" value="{{ schedule.term }} {{ schedule.year }}" name="{{ schedule.id }}" />
    <br/>
{% endfor %}
</form>

<form action="{% url 'user' user.name %}" method="post">
{% csrf_token %}
    <label for="yearid">Year</label>
    <input type="number" id="yearid" name="year" min="2000" max="2100" value="2017"/><br>
    <input type="radio" name="term" value="FALL" checked>FALL<br>
    <input type="radio" name="term" value="WINTER">WINTER<br>
    <input type="radio" name="term" value="SPRING">SPRING<br>
    <input type="radio" name="term" value="SUMMER">SUMMER<br>
    <input type="submit" value="Create New Schedule"/>
</form>
