/*Base Document*/
html {
  height: 100%;
}
html body {
  background: #fff;
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
html .button{
  border: none;
  border-radius: .125rem;
  background-color: #007c41;
  color: #fff;
  font-weight: bold;
  margin-left: 8px;
  margin-left: .5rem;
  padding: 6px 10px;
  padding: .375rem .625rem;
  cursor: pointer;
}
html .button:hover{
  background-color: #00994f;
}
html body .page-wrap:after {
  content: "";
  display: block;
  height: 75px;
}
html body .page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -75px;
}
html body .page-wrap header {
  background: #ff8080;
  color: #fff;
}
html body .page-wrap header .wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body .page-wrap header .wrap .header-title {
  font-size: 48px;
  text-align: center;
}
html body .page-wrap header .wrap .header-title .u-span {
  color: #007c41;
  font-size: 62px;
}
html body .page-wrap header .wrap nav {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
html body .page-wrap header .wrap nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
html body .page-wrap header .wrap nav ul li {
  margin: 0 20px;
}
html body .page-wrap header .wrap nav ul li a {
  text-decoration: none;
  color: #fff;
}
html body .page-wrap header .wrap nav ul li a:hover {
  text-decoration: none;
  color: #007c41;
  cursor: pointer;
}
/*Body Content*/
html body .page-wrap .body-content {
  width: 100%;
}
/*CSS for home.html*/
html body .page-wrap .body-content .home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .page-wrap .body-content .home .welcome {
  background: #ff8080;
  margin: 20px 0px;
  padding: 40px 0px;
  border:solid 1px #333;
  border-radius: 10px;
  width: 50%;
  min-width: 350px;
}
html body .page-wrap .body-content .home .welcome .fancy-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px 40px;
  width: 100%;
}
html body .page-wrap .body-content .home .welcome .fancy-background h1 {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
html body .page-wrap .body-content .home .welcome .fancy-background .error {
  display: none;
}
html body .page-wrap .body-content .home .welcome .fancy-background .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .page-wrap .body-content .home .welcome .fancy-background .login input {
  margin: 0px 0px 15px 0px;
  border: none;
  border-radius: .125rem;
}
html body .page-wrap .body-content .home .welcome .fancy-background .login .input-field {
  border: solid 1px #333;
  color: #333;
}
/*CSS for user.html*/
html body .page-wrap .body-content .user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
html body .page-wrap .body-content .user h1 {
  text-align: center;
}
html body .page-wrap .body-content .user .schedule-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
html body .page-wrap .body-content .user .schedule-row .form-div {
  width: 45%;
  background: rgba(255, 128, 128, 0.5);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .page-wrap .body-content .user .schedule-row .form-div form input {
  margin-bottom: 10px;
}
html body .page-wrap .body-content .user .degree-requirements{
  background: #FFFFFF;
}
html body .page-wrap .body-content .user .degree-requirements .charthead{
  padding: 2px 5px ;
  color: white;
  font-weight: bold;
  background: #007c41;
}

html body .page-wrap .body-content .user .degree-requirements .charttext{
  padding-right: 20px;
  padding-left: 5px;
}

/*CSS for schedule.html*/
html body .page-wrap .body-content .schedule {
  min-height: 800px;
  display: flex;
  flex-direction: row;
}
html body .page-wrap .body-content .schedule .search-column {
  width: 20%;
  padding: 5px;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .page-wrap .body-content .schedule .search-column h1 {
  color: #fff;
}
html body .page-wrap .body-content .schedule .search-column .search {
  background-color: #42454e;
  border-radius: .125rem;
  font-size: 12px;
  font-size: .75rem;
  padding: 5px;
  padding: .5rem;
  width: 100%;
  margin: 0px 5px 20px 5px;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div .search-bar {
  border: none;
  border-radius: .125rem;
  background-color: #fff;
  color: #007c41;
  font-size: 20px;
  min-width: 20%;
  padding: 6px 8px;
  padding: .375rem .5rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-shrink: 1;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #007c41;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div ::-moz-placeholder {
  /* Firefox 19+ */
  color: #007c41;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div :-ms-input-placeholder {
  /* IE 10+ */
  color: #007c41;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div :-moz-placeholder {
  /* Firefox 18- */
  color: #007c41;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div .button {
  font-size: 12px;
}
html body .page-wrap .body-content .schedule .search-column .search .form-div .button:hover {
  background-color: #00994f;
}
html body .page-wrap .body-content .schedule .search-column .search-returns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return {
  padding: 10px;
  margin: 0px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  border-radius: .125rem;
  background: #fff;
  border: solid 1px #333;
  width: 100%;
  border-radius: 5px;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return div .return-field {
  margin: 0px 0px 5px 0px;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return div .return-field span {
  color: #007c41;
  font-weight: bold;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return .top div {
  display: flex;
  align-items: center;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return .top div .class-title {
  margin: 0px;
  font-size: 24px;
  color: #007c41;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return .top div div {
  margin-left: auto;
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return .top div div .button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: .125rem;
  width: 25px;
  height: 25px;
  font-size: 18px;
  margin: 0px 3px;
  
}
html body .page-wrap .body-content .schedule .search-column .search-returns .search-return .top .short-desc {
  font-size: 16px;
  color: #333;
}
html body .page-wrap .body-content .schedule .class-column {
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-1"] {
  border-color: #577f92;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-2"] {
  border-color: #443453;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-3"] {
  border-color: #a2b9b2;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-4"] {
  border-color: #f6b067;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-5"] {
  border-color: #48804D;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-6"] {
  border-color: #7F0000;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-7"] {
  border-color: #340B0F;
}
html body .page-wrap .body-content .schedule .class-column .added-class[data-event="event-8"] {
  border-color: #044C4A;
}
html body .page-wrap .body-content .schedule .class-column .added-class {
  padding: 5px;
  margin: 2px 0px 2px 0px;
  display: flex;
  flex-direction: column;
  border-radius: .125rem;
  background: #fff;
  border: solid 5px;
  width: 100%;
  border-radius: 5px;
}
html body .page-wrap .body-content .schedule .class-column .added-class div .return-field {
  margin: 0px 0px 5px 0px;
}
html body .page-wrap .body-content .schedule .class-column .added-class div .return-field span {
  color: #007c41;
  font-weight: bold;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top div {
  display: flex;
  align-items: center;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top div .class-title {
  margin: 0px;
  font-size: 24px;
  color: #007c41;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top div div {
  margin-left: auto;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top div div .button {
  display: flex;
  justify-content: center;
  border-radius: .125rem;
  width: 25px;
  height: 25px;
  font-size: 18px;
  margin: 0px 3px;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .short-desc {
  font-size: 16px;
  color: #333;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0px;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice p {
  padding-top: 10px;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
  font-size: .7em;
  /* demo only */
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown select {
  background-color: #007c41;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::before,
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}
html body .page-wrap .body-content .schedule .class-column .added-class .top .choices-div .choice .custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}
/*Grid Column*/
html body .page-wrap .body-content .schedule .grid-column {
  width: 65%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule {
  position: relative;
  margin: 2em 0;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline {
  display: none;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events {
  position: relative;
  z-index: 1;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group {
  margin-bottom: 30px;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  display: flex;
  overflow-x: scroll;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group > ul::after {
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .top-info > span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event {
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  transition: opacity .2s, background .2s;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding: 2px .8em;
  color: #fff;
  overflow: hidden;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-name {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-date {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-1"] {
  background: #577f92;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-1"]:hover {
  background: #618da1;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-2"] {
  background: #443453;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-2"]:hover {
  background: #513e63;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-3"] {
  background: #a2b9b2;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-3"]:hover {
  background: #b1c4be;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-4"] {
  background: #f6b067;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-4"]:hover {
  background: #f7bd7f;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-5"] {
  background: #48804D;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-5"]:hover {
  background: #7cb681;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-6"] {
  background: #7F0000;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-6"]:hover {
  background: #cc0000;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-7"] {
  background: #340B0F;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-7"]:hover {
  background: #7e1b25;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-8"] {
  background: #044C4A;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .single-event[data-event="event-8"]:hover {
  background: #08918d;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header {
  position: relative;
  height: 70px;
  display: table;
  width: 100%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header .content {
  position: relative;
  z-index: 3;
  display: table-cell;
  vertical-align: middle;
  padding: .6em 5%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .body {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-info {
  position: relative;
  z-index: 2;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-info > div {
  overflow: auto;
  height: 100%;
  padding: 1.4em 5%;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transform-origin: top center;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .body-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #fff;
  transform-origin: top left;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  height: 70px;
  width: 70px;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-date {
  display: none;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal.no-transition {
  transition: none;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal.no-transition .header-bg {
  transition: none;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal.no-transition .body-bg {
  transition: none;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule.modal-is-open .event-modal {
  transform: translateX(0);
  visibility: visible;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule .cover-layer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule.loading .events .single-event {
  opacity: 0;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-1"] .header-bg {
  background: #577f92;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-2"] .header-bg {
  background: #443453;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-3"] .header-bg {
  background: #a2b9b2;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-1"] .header-bg {
  background: #577f92;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-2"] .header-bg {
  background: #443453;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-3"] .header-bg {
  background: #a2b9b2;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-5"] .header-bg {
  background: #48804D;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-6"] .header-bg {
  background: #7F0000;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-7"] .header-bg {
  background: #340B0F;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule [data-event="event-8"] .header-bg {
  background: #044C4A;
}
html body .page-wrap .body-content .schedule .grid-column .cd-schedule::before {
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 800px) {
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li {
    position: relative;
    height: 60px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li span {
    display: none;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eaeaea !important;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events {
    float: left;
    width: 100%;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group {
    width: 20%;
    float: left;
    border: 1px solid #eaeaea;
    margin-bottom: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group > ul {
    height: calc(14*60px);
    display: block;
    overflow: visible;
    padding: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
    display: none;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .top-info {
    display: table;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    padding: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .top-info > span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    width: calc(100% +2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event a {
    padding: 2px 0.8em;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event:last-of-type {
    margin-right: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event.selected-event {
    visibility: hidden;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-name {
    font-size: 2rem;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal {
    right: auto;
    width: auto;
    height: auto;
    transform: translateX(0);
    will-change: transform, width, height;
    transition: height .4s, width .4s, transform .4s, visibility .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header .content {
    display: block;
    padding: .8em;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-info {
    opacity: 0;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-info > div {
    padding: 2em 3em 2em 2em;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .body {
    height: 100%;
    width: auto;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header-bg {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .body-bg {
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
    opacity: 0;
    transform: none;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .event-date {
    display: block;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close {
    opacity: 0;
    width: 40px;
    height: 40px;
    background: transparent;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close::after {
    background: #222222;
    height: 16px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .close::before {
    background: #222222;
    height: 16px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule.animation-completed .event-modal .close {
    opacity: 1;
    transition: opacity .2s;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    opacity: 1;
    transition: opacity .2s;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule::before {
    content: 'desktop';
  }
}
@media only screen and (min-width: 1000px) {
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li span {
    display: inline-block;
    transform: translateY(-50%);
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .timeline li:nth-of-type(2n) span {
    display: none;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events {
    width: calc(100% - 60px);
    margin-left: 60px;
  }
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .event-modal .header .content {
    padding: 1.2em;
  }
}
@media only screen and (min-width: 550px) {
  html body .page-wrap .body-content .schedule .grid-column .cd-schedule .events .single-event {
    width: 100%;
  }
}
html body .page-wrap .body-content .schedule .grid-column html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
html body .page-wrap .body-content .schedule .grid-column div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column applet {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column object {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  quotes: none;
}
html body .page-wrap .body-content .schedule .grid-column blockquote:before {
  content: '';
  content: none;
}
html body .page-wrap .body-content .schedule .grid-column blockquote:after {
  content: '';
  content: none;
}
html body .page-wrap .body-content .schedule .grid-column pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column abbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column acronym {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column address {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column big {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column cite {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column code {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column del {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column dfn {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column ins {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column kbd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column q {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  quotes: none;
}
html body .page-wrap .body-content .schedule .grid-column q:before {
  content: '';
  content: none;
}
html body .page-wrap .body-content .schedule .grid-column q:after {
  content: '';
  content: none;
}
html body .page-wrap .body-content .schedule .grid-column s {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column samp {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column small {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column strike {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column sub {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column sup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column tt {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column b {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column u {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column center {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column dl {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column dt {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
html body .page-wrap .body-content .schedule .grid-column ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
html body .page-wrap .body-content .schedule .grid-column li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column table {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
}
html body .page-wrap .body-content .schedule .grid-column caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column tbody {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column th {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column aside {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column details {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column embed {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}
html body .page-wrap .body-content .schedule .grid-column summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column mark {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html body .page-wrap .body-content .schedule .grid-column main {
  display: block;
}
/*Footer*/
html body footer {
  height: 75px;
  background: #ff8080;
}
html body footer .wrap {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
html body footer .wrap .foot-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 5px;
}
html body footer .wrap .foot-link p {
  font-size: 12pt;
  margin: 0px 10px 0px 0px;
}
html body footer .wrap .foot-link img {
  height: 35px;
}